<div>

<script>
    function getMainOverlay(){
        var div = document.getElementById('img-container');
        if(!div){
            div = document.createElement('div');
            div.setAttribute('type', 'img-container');
            document.body.appendChild(div);
        }
         div.style.position = 'absolute';
         div.setAttribute('style',  'position: fixed; width: 100%; height: 100%;top: 0; left: 0;right: 0;bottom: 0; background-color: rgba(0,0,0,0.5); z-index: 2; cursor: pointer;')

         return div;
    }

    function fullScreenImage(src){
        var div = getMainOverlay();
        div.style.display = 'block';
        div.innerHTML = '<img src='+src+'/>';
    }
</script>
{{#files}}
    <div type="{{displayName}}">
        <button>{{displayName}}</button>
    </div>
    <img width="100" height="100" src="/img?LFILE={{path}}" onclick="fullScreenImage('/img?file={{path}}')"/>
{{/files}}

    IMAGE-GALLERY

</div>