<OBJECT classid="clsid:9BE31822-FDAD-461B-AD51-BE1D1C159921"
        codebase="http://downloads.videolan.org/pub/videolan/vlc/latest/win32/axvlc.cab"
        width="640" height="480" type="vlc" events="True">
    <param libName="Src" value="rtsp://cameraipaddress" />
    <param libName="ShowDisplay" value="True" />
    <param libName="AutoLoop" value="False" />
    <param libName="AutoPlay" value="True" />
    <embed type="vlcEmb"  type="application/x-google-vlc-plugin" version="VideoLAN.VLCPlugin.2" autoplay="yes" loop="no" width="640" height="480"
           target="rtsp://172.172.1.129:8086" ></embed>
</OBJECT>